<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: page(~{::main})}">
<main id="book">
  <section>
    <h1 th:text="${pageTitle}">Grāmata (Ab1234_CD)</h1>
    <div>
      <!-- List of books (only for collections) -->
      <nav class="books" th:if="${collection} != null">
        <label for="bookSelector">Nodaļa:</label>
        <form class="nav-block" action="/goto" th:if="${prevBook} != null">
          <input type="submit" name="source" th:value="${prevBook.fullSource}">
        </form>
        <form class="books nav-block" action="/goto">
          <select id="bookSelector" name="source">
            <option
              th:each="book : ${books}"
              th:value="${book.fullSource}"
              th:text="${book.displayTitle}"
              th:selected="${book.fullSource} == ${currentBook.fullSource}"
            ></option>
          </select>
          <button type="submit">Atvērt</button>
        </form>
        <form class="nav-block" action="/goto" th:if="${nextBook} != null">
          <input type="submit" name="source" th:value="${nextBook.fullSource}"/>
        </form>
      </nav>

      <!-- List of pages -->
      <nav class="pages" th:if="${pages} != null">
        <label for="pageSelector">Lappuse:</label>
        <form class="nav-block" action="/goto" th:if="${prevPage} != null">
          <input type="hidden" name="source" th:value="${currentBook.fullSource}"/>
          <input type="hidden" name="page" th:value="${prevPage.linkName}">
          <button th:text="|Iepriekšējā (${prevPage.displayName})|"></button>
        </form>
        <form class="pages nav-block" action="/goto">
          <input type="hidden" name="source" th:value="${currentBook.fullSource}"/>
          <select id="pageSelector" name="page">
            <option
              th:each="page : ${pages}"
              th:value="${page.linkName}"
              th:text="${page.displayName}"
              th:selected="${page.linkName} == ${currentPage.linkName}"
            ></option>
          </select>
          <button type="submit">Atvērt</button>
        </form>
        <form class="nav-block" action="/goto" th:if="${nextPage} != null">
          <input type="hidden" name="source" th:value="${currentBook.fullSource}"/>
          <input type="hidden" name="page" th:value="${nextPage.linkName}">
          <button th:text="|Nākamā (${nextPage.displayName})|"></button>
        </form>
      </nav>

      <!-- Page content -->
      <div id="pageContent">
        <table>
          <tr th:each="line : ${lines}">
            <td th:text="${line.address}" class="address">Ab1234_BC_--_1</td>
            <td>[(${line.dataHtml})]</td>
          </tr>
        </table>
        <div>
          <img
            th:if="${facsimile} != null"
            th:src="${facsimile}"
            alt="Rakstu darba oriģināla faksimils"
          >
        </div>
      </div>

    </div>
  </section>
</main>
</html>