<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: page(~{::main})}">
<main>
  <section>
    <h1 th:text="${pageTitle}">Grāmata (Ab1234_CD)</h1>
    <div>
      <!-- List of books (only for collections) -->
      <nav id="bookList" th:if="${collection} != null">
        <form action="/goto">
          <label for="bookSelector">Rakstu darbs:</label>
          <select id="bookSelector" name="source">
            <option
              th:each="book : ${books}"
              th:value="${book.fullSource}"
              th:text="${book.displayTitle}"
              th:selected="${book.fullSource} == ${currentBook.fullSource}"
            ></option>
          </select>
          <button type="submit">Atvērt</button>
        </form>
      </nav>

      <!-- List of pages -->
      <nav id="pageList" th:if="${pages} != null">
        <label for="pageSelector">Lappuse:</label>
        <form action="/goto" th:if="${prevPage} != null">
          <input type="hidden" name="source" th:value="${currentBook.fullSource}"/>
          <input type="submit" name="page" th:value="${prevPage.name}">
        </form>
        <form action="/goto">
          <input type="hidden" name="source" th:value="${currentBook.fullSource}"/>
          <select id="pageSelector" name="page">
            <option
              th:each="page : ${pages}"
              th:value="${page.name}"
              th:text="${page.displayName}"
              th:selected="${page.name} == ${currentPage.name}"
            ></option>
          </select>
          <button type="submit">Atvērt</button>
        </form>
        <form action="/goto" th:if="${nextPage} != null">
          <input type="hidden" name="source" th:value="${currentBook.fullSource}"/>
          <input type="submit" name="page" th:value="${nextPage.name}">
        </form>
      </nav>

      <!-- Page content -->
      <div id="pageContent">
        <table>
          <tr th:each="line : ${lines}">
            <td th:text="${line.address}">Ab1234_BC_--_1</td>
            <td>[(${line.dataHtml})]</td>
          </tr>
        </table>
      </div>

    </div>
  </section>
</main>
</html>