<!DOCTYPE html>
<html th:fragment="page (content)" lang="lv" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Senie</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/page.css">
  <link rel="stylesheet" href="/css/book.css">
  <style>
    #banner { width: 600px; height: 75px; }
  </style>
</head>
<body>

<header>
  <a href="/">
    <img id="banner" src="/images/senie.jpg" alt="SENIE: Latviešu valodas seno tekstu korpuss">
  </a>
</header>

<main th:replace="${content}"></main>

<footer>
  <div>&copy; LU Matemātikas un informātikas institūta Mākslīgā intelekta laboratorija</div>
  <div>&copy; LU Humanitāro zinātņu fakultātes Baltu valodu katedra</div>
  <div>&copy; LU Latviešu valodas institūts</div>
  <div th:text="|2002-${T(java.time.Year).now()}|">2002-2025</div>
</footer>

</body>
</html>