<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: page(~{::main})}">
<main id="symbols">
  <section>
    <h1>Simboli korpusā</h1>
    <div>
      <table class="symbol-table">
        <tr><th>Simboli<br/>(kombinēti)</th><th>Skaits</th><th>Unikodi</th></tr>
        <tr><td class="symbol">!</td><td class="count">2888</td><td class="ucode">21</td></tr>
        <tr><td class="symbol">&quot;</td><td class="count">26</td><td class="ucode">22</td></tr>
        <tr><td class="symbol">#</td><td class="count">8</td><td class="ucode">23</td></tr>
        <tr><td class="symbol">&amp;</td><td class="count">799</td><td class="ucode">26</td></tr>
        <tr><td class="symbol">'</td><td class="count">4592</td><td class="ucode">27</td></tr>
        <tr><td class="symbol">(</td><td class="count">9636</td><td class="ucode">28</td></tr>
        <tr><td class="symbol">)</td><td class="count">9848</td><td class="ucode">29</td></tr>
        <tr><td class="symbol">*</td><td class="count">1578</td><td class="ucode">2A</td></tr>
        <tr><td class="symbol">+</td><td class="count">57</td><td class="ucode">2B</td></tr>
        <tr><td class="symbol">,</td><td class="count">79224</td><td class="ucode">2C</td></tr>
        <tr><td class="symbol">-</td><td class="count">117974</td><td class="ucode">2D</td></tr>
        <tr><td class="symbol">.</td><td class="count">306122</td><td class="ucode">2E</td></tr>
        <tr><td class="symbol">/</td><td class="count">269590</td><td class="ucode">2F</td></tr>
        <tr><td class="symbol">0</td><td class="count">13266</td><td class="ucode">30</td></tr>
        <tr><td class="symbol">1</td><td class="count">60963</td><td class="ucode">31</td></tr>
        <tr><td class="symbol">2</td><td class="count">42102</td><td class="ucode">32</td></tr>
        <tr><td class="symbol">3</td><td class="count">26874</td><td class="ucode">33</td></tr>
        <tr><td class="symbol">4</td><td class="count">21318</td><td class="ucode">34</td></tr>
        <tr><td class="symbol">5</td><td class="count">17669</td><td class="ucode">35</td></tr>
        <tr><td class="symbol">6</td><td class="count">15406</td><td class="ucode">36</td></tr>
        <tr><td class="symbol">7</td><td class="count">13363</td><td class="ucode">37</td></tr>
        <tr><td class="symbol">8</td><td class="count">12679</td><td class="ucode">38</td></tr>
        <tr><td class="symbol">9</td><td class="count">12135</td><td class="ucode">39</td></tr>
        <tr><td class="symbol">:</td><td class="count">71110</td><td class="ucode">3A</td></tr>
        <tr><td class="symbol">;</td><td class="count">3636</td><td class="ucode">3B</td></tr>
        <tr><td class="symbol">&lt;</td><td class="count">2</td><td class="ucode">3C</td></tr>
        <tr><td class="symbol">=</td><td class="count">32309</td><td class="ucode">3D</td></tr>
        <tr><td class="symbol">&gt;</td><td class="count">2</td><td class="ucode">3E</td></tr>
        <tr><td class="symbol">?</td><td class="count">9939</td><td class="ucode">3F</td></tr>
        <tr><td class="symbol">@</td><td class="count">139727</td><td class="ucode">40</td></tr>
        <tr><td class="symbol">A</td><td class="count">46037</td><td class="ucode">41</td></tr>
        <tr><td class="symbol">B</td><td class="count">39318</td><td class="ucode">42</td></tr>
        <tr><td class="symbol">C</td><td class="count">12899</td><td class="ucode">43</td></tr>
        <tr><td class="symbol">D</td><td class="count">70950</td><td class="ucode">44</td></tr>
        <tr><td class="symbol">E</td><td class="count">42060</td><td class="ucode">45</td></tr>
        <tr><td class="symbol">F</td><td class="count">3104</td><td class="ucode">46</td></tr>
        <tr><td class="symbol">G</td><td class="count">41002</td><td class="ucode">47</td></tr>
        <tr><td class="symbol">H</td><td class="count">6815</td><td class="ucode">48</td></tr>
        <tr><td class="symbol">I</td><td class="count">7731</td><td class="ucode">49</td></tr>
        <tr><td class="symbol">J</td><td class="count">43551</td><td class="ucode">4A</td></tr>
        <tr><td class="symbol">K</td><td class="count">69416</td><td class="ucode">4B</td></tr>
        <tr><td class="symbol">L</td><td class="count">26647</td><td class="ucode">4C</td></tr>
        <tr><td class="symbol">M</td><td class="count">45345</td><td class="ucode">4D</td></tr>
        <tr><td class="symbol">N</td><td class="count">38206</td><td class="ucode">4E</td></tr>
        <tr><td class="symbol">O</td><td class="count">7629</td><td class="ucode">4F</td></tr>
        <tr><td class="symbol">P</td><td class="count">48088</td><td class="ucode">50</td></tr>
        <tr><td class="symbol">Q</td><td class="count">377</td><td class="ucode">51</td></tr>
        <tr><td class="symbol">R</td><td class="count">18224</td><td class="ucode">52</td></tr>
        <tr><td class="symbol">S</td><td class="count">50541</td><td class="ucode">53</td></tr>
        <tr><td class="symbol">T</td><td class="count">59607</td><td class="ucode">54</td></tr>
        <tr><td class="symbol">U</td><td class="count">29313</td><td class="ucode">55</td></tr>
        <tr><td class="symbol">V</td><td class="count">14456</td><td class="ucode">56</td></tr>
        <tr><td class="symbol">W</td><td class="count">48666</td><td class="ucode">57</td></tr>
        <tr><td class="symbol">X</td><td class="count">2026</td><td class="ucode">58</td></tr>
        <tr><td class="symbol">Y</td><td class="count">218</td><td class="ucode">59</td></tr>
        <tr><td class="symbol">Z</td><td class="count">16078</td><td class="ucode">5A</td></tr>
        <tr><td class="symbol">[</td><td class="count">11168</td><td class="ucode">5B</td></tr>
        <tr><td class="symbol">\</td><td class="count">2</td><td class="ucode">5C</td></tr>
        <tr><td class="symbol">]</td><td class="count">11170</td><td class="ucode">5D</td></tr>
        <tr><td class="symbol">_</td><td class="count">320</td><td class="ucode">5F</td></tr>
        <tr><td class="symbol">`</td><td class="count">22</td><td class="ucode">60</td></tr>
        <tr><td class="symbol">a</td><td class="count">1316730</td><td class="ucode">61</td></tr>
        <tr><td class="symbol">a̗</td><td class="count">2</td><td class="ucode">61.317</td></tr>
        <tr><td class="symbol">a̸</td><td class="count">1</td><td class="ucode">61.338</td></tr>
        <tr><td class="symbol">b</td><td class="count">207630</td><td class="ucode">62</td></tr>
        <tr><td class="symbol">c</td><td class="count">212227</td><td class="ucode">63</td></tr>
        <tr><td class="symbol">c̀</td><td class="count">7</td><td class="ucode">63.300</td></tr>
        <tr><td class="symbol">d</td><td class="count">373897</td><td class="ucode">64</td></tr>
        <tr><td class="symbol">e</td><td class="count">1274087</td><td class="ucode">65</td></tr>
        <tr><td class="symbol">f</td><td class="count">22089</td><td class="ucode">66</td></tr>
        <tr><td class="symbol">g</td><td class="count">170304</td><td class="ucode">67</td></tr>
        <tr><td class="symbol">h</td><td class="count">676927</td><td class="ucode">68</td></tr>
        <tr><td class="symbol">i</td><td class="count">816967</td><td class="ucode">69</td></tr>
        <tr><td class="symbol">j</td><td class="count">119897</td><td class="ucode">6A</td></tr>
        <tr><td class="symbol">k</td><td class="count">307086</td><td class="ucode">6B</td></tr>
        <tr><td class="symbol">l</td><td class="count">347195</td><td class="ucode">6C</td></tr>
        <tr><td class="symbol">m</td><td class="count">388495</td><td class="ucode">6D</td></tr>
        <tr><td class="symbol">m̀</td><td class="count">3</td><td class="ucode">6D.300</td></tr>
        <tr><td class="symbol">m̃</td><td class="count">1539</td><td class="ucode">6D.303</td></tr>
        <tr><td class="symbol">n</td><td class="count">633117</td><td class="ucode">6E</td></tr>
        <tr><td class="symbol">o</td><td class="count">312970</td><td class="ucode">6F</td></tr>
        <tr><td class="symbol">p</td><td class="count">269577</td><td class="ucode">70</td></tr>
        <tr><td class="symbol">p̃</td><td class="count">9</td><td class="ucode">70.303</td></tr>
        <tr><td class="symbol">q</td><td class="count">1611</td><td class="ucode">71</td></tr>
        <tr><td class="symbol">q̀</td><td class="count">2</td><td class="ucode">71.300</td></tr>
        <tr><td class="symbol">q́</td><td class="count">24</td><td class="ucode">71.301</td></tr>
        <tr><td class="symbol">q̂</td><td class="count">1</td><td class="ucode">71.302</td></tr>
        <tr><td class="symbol">q̃</td><td class="count">3</td><td class="ucode">71.303</td></tr>
        <tr><td class="symbol">r</td><td class="count">564966</td><td class="ucode">72</td></tr>
        <tr><td class="symbol">s</td><td class="count">573851</td><td class="ucode">73</td></tr>
        <tr><td class="symbol">t</td><td class="count">794499</td><td class="ucode">74</td></tr>
        <tr><td class="symbol">u</td><td class="count">649727</td><td class="ucode">75</td></tr>
        <tr><td class="symbol">u̇</td><td class="count">244</td><td class="ucode">75.307</td></tr>
        <tr><td class="symbol">v</td><td class="count">94546</td><td class="ucode">76</td></tr>
        <tr><td class="symbol">v̸</td><td class="count">1</td><td class="ucode">76.338</td></tr>
        <tr><td class="symbol">w</td><td class="count">308123</td><td class="ucode">77</td></tr>
        <tr><td class="symbol">x</td><td class="count">15695</td><td class="ucode">78</td></tr>
        <tr><td class="symbol">y</td><td class="count">59635</td><td class="ucode">79</td></tr>
        <tr><td class="symbol">z</td><td class="count">138428</td><td class="ucode">7A</td></tr>
        <tr><td class="symbol">{</td><td class="count">146930</td><td class="ucode">7B</td></tr>
        <tr><td class="symbol">|</td><td class="count">469</td><td class="ucode">7C</td></tr>
        <tr><td class="symbol">}</td><td class="count">146930</td><td class="ucode">7D</td></tr>
        <tr><td class="symbol"> </td><td class="count">20</td><td class="ucode">A0</td></tr>
        <tr><td class="symbol">´</td><td class="count">135</td><td class="ucode">B4</td></tr>
        <tr><td class="symbol">À</td><td class="count">1</td><td class="ucode">C0</td></tr>
        <tr><td class="symbol">Ä</td><td class="count">335</td><td class="ucode">C4</td></tr>
        <tr><td class="symbol">Æ</td><td class="count">14</td><td class="ucode">C6</td></tr>
        <tr><td class="symbol">Î</td><td class="count">5</td><td class="ucode">CE</td></tr>
        <tr><td class="symbol">Ò</td><td class="count">1</td><td class="ucode">D2</td></tr>
        <tr><td class="symbol">Ô</td><td class="count">1</td><td class="ucode">D4</td></tr>
        <tr><td class="symbol">Ö</td><td class="count">55</td><td class="ucode">D6</td></tr>
        <tr><td class="symbol">×</td><td class="count">6</td><td class="ucode">D7</td></tr>
        <tr><td class="symbol">Ü</td><td class="count">27</td><td class="ucode">DC</td></tr>
        <tr><td class="symbol">ß</td><td class="count">71509</td><td class="ucode">DF</td></tr>
        <tr><td class="symbol">ß̸</td><td class="count">17</td><td class="ucode">DF.338</td></tr>
        <tr><td class="symbol">à</td><td class="count">19783</td><td class="ucode">E0</td></tr>
        <tr><td class="symbol">á</td><td class="count">12193</td><td class="ucode">E1</td></tr>
        <tr><td class="symbol">â</td><td class="count">22983</td><td class="ucode">E2</td></tr>
        <tr><td class="symbol">ã</td><td class="count">416</td><td class="ucode">E3</td></tr>
        <tr><td class="symbol">ä</td><td class="count">48576</td><td class="ucode">E4</td></tr>
        <tr><td class="symbol">æ</td><td class="count">7713</td><td class="ucode">E6</td></tr>
        <tr><td class="symbol">è</td><td class="count">1093</td><td class="ucode">E8</td></tr>
        <tr><td class="symbol">é</td><td class="count">364</td><td class="ucode">E9</td></tr>
        <tr><td class="symbol">ê</td><td class="count">4014</td><td class="ucode">EA</td></tr>
        <tr><td class="symbol">ë</td><td class="count">3270</td><td class="ucode">EB</td></tr>
        <tr><td class="symbol">ì</td><td class="count">657</td><td class="ucode">EC</td></tr>
        <tr><td class="symbol">í</td><td class="count">4</td><td class="ucode">ED</td></tr>
        <tr><td class="symbol">î</td><td class="count">4241</td><td class="ucode">EE</td></tr>
        <tr><td class="symbol">ï</td><td class="count">24</td><td class="ucode">EF</td></tr>
        <tr><td class="symbol">ñ</td><td class="count">931</td><td class="ucode">F1</td></tr>
        <tr><td class="symbol">ò</td><td class="count">432</td><td class="ucode">F2</td></tr>
        <tr><td class="symbol">ó</td><td class="count">85</td><td class="ucode">F3</td></tr>
        <tr><td class="symbol">ô</td><td class="count">3570</td><td class="ucode">F4</td></tr>
        <tr><td class="symbol">õ</td><td class="count">206</td><td class="ucode">F5</td></tr>
        <tr><td class="symbol">ö</td><td class="count">11956</td><td class="ucode">F6</td></tr>
        <tr><td class="symbol">ù</td><td class="count">430</td><td class="ucode">F9</td></tr>
        <tr><td class="symbol">ú</td><td class="count">20</td><td class="ucode">FA</td></tr>
        <tr><td class="symbol">û</td><td class="count">1734</td><td class="ucode">FB</td></tr>
        <tr><td class="symbol">ü</td><td class="count">7375</td><td class="ucode">FC</td></tr>
        <tr><td class="symbol">ÿ</td><td class="count">341</td><td class="ucode">FF</td></tr>
        <tr><td class="symbol">Ā</td><td class="count">3</td><td class="ucode">100</td></tr>
        <tr><td class="symbol">ā</td><td class="count">58</td><td class="ucode">101</td></tr>
        <tr><td class="symbol">ą</td><td class="count">1224</td><td class="ucode">105</td></tr>
        <tr><td class="symbol">ć</td><td class="count">2484</td><td class="ucode">107</td></tr>
        <tr><td class="symbol">ċ</td><td class="count">16</td><td class="ucode">10B</td></tr>
        <tr><td class="symbol">č</td><td class="count">1</td><td class="ucode">10D</td></tr>
        <tr><td class="symbol">đ</td><td class="count">90</td><td class="ucode">111</td></tr>
        <tr><td class="symbol">ē</td><td class="count">8</td><td class="ucode">113</td></tr>
        <tr><td class="symbol">ĕ</td><td class="count">4</td><td class="ucode">115</td></tr>
        <tr><td class="symbol">ė</td><td class="count">1245</td><td class="ucode">117</td></tr>
        <tr><td class="symbol">ę</td><td class="count">4349</td><td class="ucode">119</td></tr>
        <tr><td class="symbol">ě</td><td class="count">3</td><td class="ucode">11B</td></tr>
        <tr><td class="symbol">Ģ</td><td class="count">1128</td><td class="ucode">122</td></tr>
        <tr><td class="symbol">Ģ̃</td><td class="count">1</td><td class="ucode">122.303</td></tr>
        <tr><td class="symbol">ģ</td><td class="count">4527</td><td class="ucode">123</td></tr>
        <tr><td class="symbol">ħ</td><td class="count">1</td><td class="ucode">127</td></tr>
        <tr><td class="symbol">ĩ</td><td class="count">6</td><td class="ucode">129</td></tr>
        <tr><td class="symbol">ī</td><td class="count">245</td><td class="ucode">12B</td></tr>
        <tr><td class="symbol">Ķ</td><td class="count">4430</td><td class="ucode">136</td></tr>
        <tr><td class="symbol">ķ</td><td class="count">5792</td><td class="ucode">137</td></tr>
        <tr><td class="symbol">Ļ</td><td class="count">6074</td><td class="ucode">13B</td></tr>
        <tr><td class="symbol">ļ</td><td class="count">35174</td><td class="ucode">13C</td></tr>
        <tr><td class="symbol">Ł</td><td class="count">212</td><td class="ucode">141</td></tr>
        <tr><td class="symbol">ł</td><td class="count">3863</td><td class="ucode">142</td></tr>
        <tr><td class="symbol">ń</td><td class="count">486</td><td class="ucode">144</td></tr>
        <tr><td class="symbol">Ņ</td><td class="count">191</td><td class="ucode">145</td></tr>
        <tr><td class="symbol">ņ</td><td class="count">72043</td><td class="ucode">146</td></tr>
        <tr><td class="symbol">ņ̃</td><td class="count">3</td><td class="ucode">146.303</td></tr>
        <tr><td class="symbol">Ŗ</td><td class="count">6</td><td class="ucode">156</td></tr>
        <tr><td class="symbol">ŗ</td><td class="count">16385</td><td class="ucode">157</td></tr>
        <tr><td class="symbol">ś</td><td class="count">3250</td><td class="ucode">15B</td></tr>
        <tr><td class="symbol">Š</td><td class="count">1</td><td class="ucode">160</td></tr>
        <tr><td class="symbol">š</td><td class="count">4</td><td class="ucode">161</td></tr>
        <tr><td class="symbol">ũ</td><td class="count">386</td><td class="ucode">169</td></tr>
        <tr><td class="symbol">ū</td><td class="count">3</td><td class="ucode">16B</td></tr>
        <tr><td class="symbol">ŭ</td><td class="count">3</td><td class="ucode">16D</td></tr>
        <tr><td class="symbol">ů</td><td class="count">564</td><td class="ucode">16F</td></tr>
        <tr><td class="symbol">ŷ</td><td class="count">1</td><td class="ucode">177</td></tr>
        <tr><td class="symbol">ź</td><td class="count">1543</td><td class="ucode">17A</td></tr>
        <tr><td class="symbol">ż</td><td class="count">1794</td><td class="ucode">17C</td></tr>
        <tr><td class="symbol">ž</td><td class="count">2</td><td class="ucode">17E</td></tr>
        <tr><td class="symbol">ſ</td><td class="count">330985</td><td class="ucode">17F</td></tr>
        <tr><td class="symbol">ƀ</td><td class="count">18</td><td class="ucode">180</td></tr>
        <tr><td class="symbol">Ɨ</td><td class="count">1</td><td class="ucode">197</td></tr>
        <tr><td class="symbol">Ƶ</td><td class="count">8</td><td class="ucode">1B5</td></tr>
        <tr><td class="symbol">ƶ</td><td class="count">8</td><td class="ucode">1B6</td></tr>
        <tr><td class="symbol">ǹ</td><td class="count">1</td><td class="ucode">1F9</td></tr>
        <tr><td class="symbol">Ȧ</td><td class="count">1</td><td class="ucode">226</td></tr>
        <tr><td class="symbol">ȧ</td><td class="count">2396</td><td class="ucode">227</td></tr>
        <tr><td class="symbol">ȯ</td><td class="count">43</td><td class="ucode">22F</td></tr>
        <tr><td class="symbol">Ɉ</td><td class="count">2</td><td class="ucode">248</td></tr>
        <tr><td class="symbol">Ɍ</td><td class="count">8</td><td class="ucode">24C</td></tr>
        <tr><td class="symbol">ʒ</td><td class="count">2</td><td class="ucode">292</td></tr>
        <tr><td class="symbol">Ӿ</td><td class="count">2</td><td class="ucode">4FE</td></tr>
        <tr><td class="symbol">ẜ</td><td class="count">250870</td><td class="ucode">1E9C</td></tr>
        <tr><td class="symbol">ẽ</td><td class="count">738</td><td class="ucode">1EBD</td></tr>
        <tr><td class="symbol">ỹ</td><td class="count">15</td><td class="ucode">1EF9</td></tr>
        <tr><td class="symbol">–</td><td class="count">1</td><td class="ucode">2013</td></tr>
        <tr><td class="symbol">—</td><td class="count">1</td><td class="ucode">2014</td></tr>
        <tr><td class="symbol">‘</td><td class="count">1</td><td class="ucode">2018</td></tr>
        <tr><td class="symbol">’</td><td class="count">23</td><td class="ucode">2019</td></tr>
        <tr><td class="symbol">“</td><td class="count">3</td><td class="ucode">201C</td></tr>
        <tr><td class="symbol">”</td><td class="count">88</td><td class="ucode">201D</td></tr>
        <tr><td class="symbol">†</td><td class="count">16</td><td class="ucode">2020</td></tr>
        <tr><td class="symbol">℞</td><td class="count">6</td><td class="ucode">211E</td></tr>
        <tr><td class="symbol">☽</td><td class="count">1</td><td class="ucode">263D</td></tr>
        <tr><td class="symbol">☾</td><td class="count">1</td><td class="ucode">263E</td></tr>
        <tr><td class="symbol">☿</td><td class="count">1</td><td class="ucode">263F</td></tr>
        <tr><td class="symbol">♀</td><td class="count">1</td><td class="ucode">2640</td></tr>
        <tr><td class="symbol">♂</td><td class="count">1</td><td class="ucode">2642</td></tr>
        <tr><td class="symbol">♃</td><td class="count">1</td><td class="ucode">2643</td></tr>
        <tr><td class="symbol">♄</td><td class="count">1</td><td class="ucode">2644</td></tr>
        <tr><td class="symbol">ꝑ</td><td class="count">4</td><td class="ucode">A751</td></tr>
        <tr><td class="symbol">ꝗ</td><td class="count">6</td><td class="ucode">A757</td></tr>
        <tr><td class="symbol">ꝯ</td><td class="count">110</td><td class="ucode">A76F</td></tr>
        <tr><td class="symbol">ꞙ</td><td class="count">10</td><td class="ucode">A799</td></tr>
        <tr><td class="symbol">Ꞩ</td><td class="count">29158</td><td class="ucode">A7A8</td></tr>
        <tr><td class="symbol">ﬅ</td><td class="count">1</td><td class="ucode">FB05</td></tr>
        <tr><td class="symbol">﻿</td><td class="count">13</td><td class="ucode">FEFF</td></tr>
      </table>
    </div>
  </section>
</main>
</html>
